<div class='jumbotron center'>

    <p>
        C'est la page d'accueil pour l'application exemple du
        <a href="http://railstutorial.org/" target="_blank">Tutoriel Ruby on Rails</a>.
    </p>

    <p>
      <%=link_to "Log in",'#', class: "btn btn-default btn-lg"%>
      <%=link_to "Sign up",'#', class: "btn btn-primary btn-lg"%>
    </p>

</div>
